/* --- Product big --- */

.product__big {
  display: grid;
  grid-template-areas: 
    "image image"
    "info"
  ;
  /* flex-direction: column; */
  /* display: block; */
  padding: 20px;
  /* max-height: 400px;
  min-width: 100px; */
  width: 100%;
  /* align-items: center; */
  /* justify-content: flex-end; */
  margin: 15px;
  /* text-align: center; */
  border-radius: 5px;
  border: 1px solid #B0B0B0;
  align-content: center;
}

.product__big img {
  max-height: 250px;
  width: 120px;
  /* object-fit: contain; */
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
  padding: 30px;

  /* background-color: blue; */

  grid-area: image;
}

.product__big > product__big-descripion {
margin-bottom: 20px;
grid-area: info;
}

