.subtotal {
  /* margin-left: 10em; */
  background-color: #F8F8F8;
  padding: 25px;
  border-radius: 10px;
  min-width: 250px;
  
}

/* --- text --- */
.subtotal__text {
  margin-bottom: 28px;
  position: absolute;
}

/* --- button --- */
.subtotal__button {
  background-color: #FF9900;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 7px;
  transition: 0.2s;
  box-shadow: 0px 3px 10px #ffba5386;
  margin-top: 3em;
}