/* --- parent --- */
.signin {
  width: 150px;
  background-color: #F8F8F8;
  box-shadow: 0px 3px 10px #cacaca;
  border-radius: 10px;
  padding: 60px;
  margin: 0 auto;
  margin-top: 7em;
  text-align: center;
}

/* --- form --- */
.signin__container input{
  margin-bottom: 20px;
}

.signin__container p {
  margin: 10px 0px;
}

.signin h2 {
  margin-bottom: 15px;
}
